<?xml version="1.0" encoding="utf-8"?>
<root>
  <member key="saveapilog" value="SaveApiLog"/>
	<member key="getalluser" value="GetAllUser"/>
  <member key="registermuridkuuser" value="RegisterMuridkuUser"/>
  <member key="activateuser" value="ActivateUser"/>
	<member key="login" value="Login"/>
  <member key="logout" value="Logout"/>
  <member key="getuserbyemail" value="GetUserByEmail"/>
  <member key="getuserbymemberid" value="GetUserByMemberId"/>
  <member key="getusersbymemberid" value="GetUsersByMemberId"/>
  <member key="getactiveuserbyemail" value="GetActiveUserByEmail"/>
  <member key="getktbsbypktbid" value="GetKtbsByPktbId"/>
  <member key="getktbbyktbid" value="GetKtbByKtbId"/>
  <member key="getaktbsbyktbid" value="GetAktbsByKtbId"/>
  <member key="getmemberbyid" value="GetMemberById"/>
  <member key="getmembersbylistid" value="GetMembersByListId"/>
  <member key="getmembersbyktbid" value="GetMembersByKtbId"/>
  <member key="savesinglemember" value="SaveSingleMember"/>
  <member key="updatesinglemember" value="UpdateSingleMember"/>
  <member key="getallinstitution" value="GetAllInstitution"/>
  <member key="getinstitutionbytype" value="GetInstitutionByType"/>
  <member key="getinstitutionbyid" value="GetInstitutionById"/>
  <member key="getallfaculty" value="GetAllFaculty"/>
  <member key="getfacultybyinstitutionid" value="GetFacultyByInstitutionId"/>
  <member key="getfacultybyid" value="GetFacultyById"/>
</root>