<?xml version="1.0" encoding="utf-8"?>
<root>
  <member key="getversioninfo" value="GetVersionInfo"/>
  <member key="saveapilog" value="SaveApiLog"/>
	<member key="getalluser" value="GetAllUser"/>
  <member key="registermuridkuuser" value="RegisterMuridkuUser"/>
  <member key="getinactiveusers" value="GetInactiveUsers"/>
  <member key="activateuser" value="ActivateUser"/>
	<member key="login" value="Login"/>
  <member key="logout" value="Logout"/>
  <member key="getuserbyemail" value="GetUserByEmail"/>
  <member key="getuserbymemberid" value="GetUserByMemberId"/>
  <member key="getusersbymemberid" value="GetUsersByMemberId"/>
  <member key="getactiveuserbyemail" value="GetActiveUserByEmail"/>
  <member key="checkuserloginstatus" value="CheckUserLoginStatus"/>
  <member key="checkuseractiveondevice" value="CheckUserActiveOnDevice"/>
  <member key="getktbsbypktbid" value="GetKtbsByPktbId"/>
  <member key="getktbbyktbid" value="GetKtbByKtbId"/>
  <member key="getsinglektbmemberbyktbidmemberid" value="GetSingleKtbMemberByKtbIdMemberId"/>
  <member key="savesinglektb" value="SaveSingleKtb"/>
  <member key="updatesinglektb" value="UpdateSingleKtb"/>
  <member key="updateaktbstatusbylistid" value="UpdateAktbStatusByListId"/>
  <member key="deletektbsbylistid" value="DeleteKtbsByListId"/>
  <member key="deletektbmemberbylistid" value="DeleteKtbMemberByListId"/>
  <member key="getallinactivektbmembers" value="GetAllInactiveKtbMembers"/>
  <member key="getsinglektbhistorybyktbid" value="GetSingleKtbHistoryByKtbId"/>
  <member key="getsinglektbhistorymemberbyktbidmemberid" value="GetSingleKtbHistoryMemberByKtbIdMemberId"/>
  <member key="getktbhistorybyktbid" value="GetKtbHistoryByKtbId"/>
  <member key="getlastktbmaterialbyktbid" value="GetLastKtbMaterialByKtbId"/>
  <member key="getktbhistorymemberbyktbhistoryid" value="GetKtbHistoryMemberByKtbHistoryId"/>
  <member key="savesinglektbhistory" value="SaveSingleKtbHistory"/>
  <member key="savesinglektbhistorymember" value="SaveSingleKtbHistoryMember"/>
  <member key="getmemberbyid" value="GetMemberById"/>
  <member key="getmembersbylistid" value="GetMembersByListId"/>
  <member key="getmembersbyktbid" value="GetMembersByKtbId"/>
  <member key="getaktbsbyktbid" value="GetAktbsByKtbId"/>
  <member key="savesinglemember" value="SaveSingleMember"/>
  <member key="updatesinglemember" value="UpdateSingleMember"/>
  <member key="getallcity" value="GetAllCity"/>
  <member key="getcitybyid" value="GetCityById"/>
  <member key="getallinstitution" value="GetAllInstitution"/>
  <member key="getinstitutionbytype" value="GetInstitutionByType"/>
  <member key="getinstitutionbyid" value="GetInstitutionById"/>
  <member key="getallfaculty" value="GetAllFaculty"/>
  <member key="getfacultybyinstitutionid" value="GetFacultyByInstitutionId"/>
  <member key="getfacultybyid" value="GetFacultyById"/>
  <member key="getallmaterials" value="GetAllMaterials"/>
</root>